.lll{
    background-color: rgba(236, 228, 201, 0.753);;
}

.www {
    text-align:center;
    line-height: 18px
}
.div {
    color:red;
}

.iii {
    color:red;
    text-align:center;
    font-size: 23px;
    line-height: 10px
}

.qwe {
    background-color: rgba(201, 236, 211, 0.753);;
    
}
}